@import url("https://fontsapi.zeoseven.com/292/main/result.css");

@font-face {
  font-family: "LXGW WenKai";
  font-weight: normal;
  font-display: swap;
  unicode-range:U+d65f-d7a3,U+e76c,U+e7c7-e7c8,U+e7e7-e7f3,U+e815-e847;
  }
