---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<footer class="mt-10 mb-6">
    <div class="h-px bg-gradient-to-r from-transparent via-black/15 dark:via-white/15 to-transparent mx-8"></div>
    
    <div class="mt-6 mx-auto max-w-3xl px-6">
        <div class="bg-gradient-to-r from-[oklch(97%_0.01_var(--hue))] to-[oklch(95%_0.02_var(--hue))] 
                    dark:from-[oklch(18%_0.02_var(--hue))] dark:to-[oklch(15%_0.03_var(--hue))]
                    rounded-xl p-5 border border-black/5 dark:border-white/10">
            
            <!-- 内容区域 -->
            <div class="flex flex-col sm:flex-row items-center justify-between gap-3 text-sm">
                <!-- 左侧：版权和链接 -->
                <div class="flex flex-wrap items-center justify-center sm:justify-start gap-3 text-black/70 dark:text-white/70">
                    <span>&copy; {currentYear} {profileConfig.name}</span>
                    <span class="text-black/30 dark:text-white/30">•</span>
                    <a class="hover:text-[var(--primary)] transition-colors font-medium" target="_blank" href={url('rss.xml')}>RSS</a>
                    <span class="text-black/30 dark:text-white/30">•</span>
                    <a class="hover:text-[var(--primary)] transition-colors font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a>
                </div>
                
                
               <a target="_blank"
               href="https://pages.github.com" >
                 <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="700px" height="394px" viewBox="0 0 700 394" enable-background="new 0 0 700 394" xml:space="preserve">  <image id="image0" width="700" height="394" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAGKBAMAAAAcX49dAAAAIGNIUk0AAHomAACAhAAA+gAAAIDo
AAB1MAAA6mAAADqYAAAXcJy6UTwAAAAhUExURUdwTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AP///y1KS9EAAAAJdFJOUwACG0ZwlrvW7Fu1PhUAAAABYktHRApo0PRWAAAAB3RJTUUH6gEBCgI6
B3ridwAASPBJREFUeNrtfc1jHMdxbxf9krxjNejE0Q2g5CS6EZSchDdCsvzCGyH54+lm2pZs3UTF
sq2jZEs2j48EQOx/+7a7vrt7FosBwFlGagC7i53f9MzUdP+quqq6JyUrAJBA/sHyV4purX+6fQ1A
fWVAD/mucCGhQH3D+uJEy9sAwhfYQqCDfFfWEsnrH+C/nNdiy+sfKnld1i8MKYhSyr/oEAWfGeAh
9ZUL6o8U0J9ZkIJaH74ej6+hfkLeUK5haQg3udKlq3gw5cTtUsQHqIKrQJKaYVIuEMQBJJO0QSB0
18qZMIRu6jwIHx7aEs5+aUiiF31jlkDu+ijsCkmFRyCrlEH+FjAEEBKGn3XfkM38MxvyahTo/sON
VMIfFCT0CwMI8AaDoNtwZcgrUBAaXs3WLHP2JAjUT/MUylqvQvJNFmFpaH4cPy8OKa1BebOycqW3
7IRXdjTRSSVKDnqcAaQoSuZ5VpfrD8CqQDTqXEi8synlDOHm1wtbGCLWbn0lAQuhIvNvQfHmBGxd
+NYrmt4xukD8Te4bXLZPcyDE+rmefGL9UZm6Ko7CHfy+IEQJM7GQzfDlYUN9A0evCMyvvC1B/YSJ
6vWQugUqfTKkqiSEa4EszatbcW9tI9JOPLPlQJ21BTkDVGxP3AiJdeqXsVwPZCdLSlk4FxD4zJ3d
zlcHneyArVMFIdGN0VIG2QYKaT9Ang9R8mWzWD7IFtwBSErOXiXe9KRKu3lSrTtjoF4e1nnLAUQF
yR3BwKEkLU+zMyBqlButCd8h2+1pByDflRsvA1E3Dh1WZ84dpvaFbhf7QiFLX9YOFDB2Lf2OB/VG
K0Bjf3JJFLO40oWnkMoonkIchOxoDyFz7XogrSa5KbU5G9JRrwjOuYKEsdmppoqFhx96gB4CN3ny
9fyKrVlvfrkR9VPxSpVBToGkpSHiJq/tuP5k4WuxMAHrsB/EqYOlISukyLdA0MYdBhHzVCFsHSeF
wFUg3iaXvijfalkYkpKMMETjJRmJpITiMQMfjagjFtqIojMz1wMeAsn7ujLduuAKw/mQV6LkvvDQ
E9t+Cq6vA1l7zgpla6+BvAza2+GSgsFaFVz0ENMlBqNWDWnnMYPWY4aOe8ELClVEftQxA1KqTxQh
SDwsSsWxVG96qlohLQ3hUb2jCeIR8pcYi4iPwuw3caQrDqCHeF4K1NS5ja8ESS0k7QxkgsRQtmNS
f7Z9wBY75ZRnGjcIO5SuA/IqlMBv+iEz8QaHTQBAbrgZB5Cc2UvrK/WOnqtAjEIgK/Hr4Fl0w7KQ
lLL5CTL7e4NPgXYKvMpX6Xy92Sj6pXnMgmcYsjmefOx2YYizZ0V+qdVtIVLMt6XRfmHQZhB1rGvr
xnCTo7fmkpBSfzWNa5wk0Ws1jekSKJK7LCSJL8FiFuQBEkcQ1sEIQ9RPD2wVYxI/PQ1RWE8KpNi+
2dmr5ScBOpP2ChAatrDbXfgYk7jdmbKXhQRtFAu2X8yCfMuLsKmxqowq2kBvS6yemwNBb+DQb1tx
+SHGvSkyKwbyLXuRV8zJFwNGIf5+sCMuxEDARSwvD6m8VJJ3OMOoEF+qh0UKJOPikKTuBBsSIBu9
zL1o3gZibKhUiPpbfT5cHf0KpKTuVAxDCmkicspVhcB8SBj2sLNDC3LMcxcg/G0sKLrNsiclyMyV
chFrXxuvQcJZRG+8usGuBNn54h26VsRUDiUgqKdeCLlpf7YFugUCYuLvAqRYOCxdNYlRg5jqTzeP
j+zZjDuyN3y99G9QvFi92PQPUJQTQYaOyIHQZSGxT9dXjn1Wi7d44xPbymz2qs9VihqoWpFCMnDq
itqw1SXubViYDSG7vVIyW8f0V0MCmU3xpSHJh4M0BoAiYyI/EG51HhXHvbSLu08CETUpkCRqUiFw
JYj36im+Ib8dgmwNhw6CY0isMbU1XgdkpwsK6cqbZch5+5PI1asuCWU6goQWcrPc+woUl55QBYzS
panfV+VWQ57W92sWvoQxOagMRUtCB6F/KJ8UMkf5kfNJE+na2RAy6TOA0X7iAY9phoUh1AElYCwh
SDTpFf3ig8AEya1LBzqXTnbsLxBEYX+GUH3zIEv3+8uWV8haf2UKM5t31/hIcSDAlgG3GVbcXDHd
IKeul+ATrReFiL3FrogisZR0zJAo/6i8CDdgqq4L8+nUKsih0UOqoifrmmqj4TMqBOZDEo9pyNSu
cw1oTMPWeGY/95KQzmPmBwwkPojRCtY2YdQmGWAtBGjvLBAa0gAPb8gVNh9Sex+25iV0JuWSEOcj
8ZsoYJGS2ZkW2FDMENLW1Lpl0sgtMwfyChXxSCbJChazgMcOEi9KfIuo6ZBhIYPgJCElB0FIHlI/
eQhcAfJqlNyqNpDZTZ63g88nC+9oTMO5hcBBshsQtP4l8y3NhaD5m3TgU99Qs7OWhiRv0hL3qpVc
pZdY+DKwA+FFN6rQ+nRUoekKIC4lERCKS8l52uZBEquGoBkAIMxMWBgy2agpFOH5A1IDZ7daA3l5
vRbTjXD6NUOArYeU2kC8+gSNe0F8giLc2sDJKaeDu2ROOckXzjzuykkHZDw0mw15abfxKoX7HpnB
SnGe6rLrlMrPmqCKBpQYpkEGdfkycbhtIdA6jbA77NKQyeR/b9aGFByurgE0di9DwBNof69kgDMP
grUlE9WTXUyNHSl2AEjxjEUhKeksWEcaEqgUXpEkHWZrspu0JE5TgQ6SQfzf8s5xZ5fnPhvSlo4t
dgwSpkyhXhFv7udmBYCBviu+sA0HTL7A8Uvu9hZIztbtpZti69PpIN/2InOKhTPJYSBmraDAGXT8
Vcu9w0gx3Gi0oh4qyRQwnTAG3BjkjJaEEE24AUEdgwbVhkH7VYd2yJOqnnM/NDEIB3pBIDXCAGyB
F0gJcsyGiFNHjG2gkTkrhrppcYiVhjUxjbY7emZdoziOIw8mvUJXZ7dlFuSVKOou6+SLLbAPPg/r
+q5YAQnwSi6iuGqcU0epNdjNDHEE2UJulHsXD0VsAZkaVhi3VjH57VB3Di6dJvtfISpe5+gSW8T+
ZkJoyMxpRAkkYSbzqDllSZlZEJLUl6BGK7pAvCTEaLIUAdDptmTWfwcpH2uuqrebQWYJXxHCWplP
0MZGvA/phoUhxA/uhwpLz/hXknutOPEqyzQYTJKUFvZrOHw25FUovICOemKulyK/7eVClw7BuiFD
bgAeYxDY9jTmFDG7ydQW21hWzgQxn5eFhG5d/1A7fxKPr6CEos3fyxRi/l7wkHrg5CD1wOl6IK9K
AcnXp2uKmovuiQmuDuyiaREh4CCJ0xI8pGYuhFpmQlqW6y6rJ8KXD9HQG/dw3/na7kheCbcZ/YoO
Mvp2kAyWIi9f+XXp6IizIWZrylaQ7fLPwhBmhsycqcOKEAMW6YFEinPezqWT5ynEOZDrydm6bgg3
bkwgE7KSdmrpl2rOaSYEW0niz9D0FPVnCAQ10QTFQZ6uD4IM4Uz48B+C7bAcREnX/F2edkl1NaZF
mW4WV0DFslzXAEIWq0HIx+QhCWdDWgXSEWBLkgtCti2tOywENKTNRci3uoiHwPNq1CJ5YrjQULPA
Guy1EOs0xKKe+o47BEk0Y0j0Vk02NXZIyBmS0vMTRTNgywxJ0fkCQTULLP1xNkTUL20nLz6Ni+pP
Ikf/shA3t0I+pWDWVp9Qclsps8PdA87x8PPaBEJp+5gEUrUmZ+Whjh1mQgILUXQAtU9yAGEXIK9+
6S5lJ4YUtUiSTmZ/uPe4mk07ncDTEiS0kKtQ66UgO1jE1Wj+2jJX1RySlVYshz0BRZbRkwNlqzhy
UAjdLMwCQaCRBiBDKknNhSQy3zXeUt3+uZpyvMLo4pDUGbWDaEVEUMtpRm3Qjtpo4mFy7b68A90u
a39XgOAuccA0ZGQD87jN79xllzZ5PKNMnpc2f3dnC/VByJKjkzM3d1miS9omUXMgP2wIEAYc3f5/
A8wLLQC7OpaC1GEnS47jxYiSpiM7Jxl5AAu6+MmNG7BCjB0MUlNAdOkbOiMUWzazt30+xOlO/+dD
ngtDkjpYVS9Fh0MRutNapPrC5KyyuQkmC4Sm3hLR8x8PVBiS83wIc5OkrqCGEgtxIG1YHJLUz+Wo
VTxhSr/mCfPBTglpCEOaW40hXLJA5BuQDKF8FcirUwapo9g6giAucGQjZ9suPjeBLH1ZyxfWVsyr
jrWx9RtDxCy+RGeLgBaBy0N8EhSrNjBvjmTgVD5VAKmuYPg21rFAWD856reFQm2UNxOia4NmsVn4
wJjFrFkcknTMJksR6XOyUIzf7Kxe8tNQpFhdOhIpNpcOQ3KS6ILN6uEAhJv4Mx/iC3b9suupC0JE
yIbAiOvJ2aI0ehgYj1K+1cU0EpsbKCZHMnMjaYwj14aFYjhUVU6LwajxIRByz6FCkkwWVggfYA5k
abFtKVxmN3ZFCMk57mXnuNdb4HJUs0KghWTKLHcQyizP1wFJQnaZH7lDW5ibQc9/SchWSVDzXTrX
NoltAMEmmMx/FkxO0iGXgzA7iPJg4rSN3AWVORjAq08n8/tkCdJDgHj7OdMXZhnzxLqZkLRj2msM
4TYtDgUQmweDcalOn2jxtQUu/uZG7N6Xc5TLQ2q0QrhXdgDu/LqvWsa2b+SGCvLcQBAIPV2rb89n
LiQkHtmLD2IvDOm5F1rubRf+B1Nsot2alQwUAhbz1aivxHwt6jsTQhFNe34Tv6mxIey1JESZw02b
EspkukNFcGIi6HYeelSIc6ophIYjSafPyYiFlkhixp4N0bOXFCzjP+H9XYConiDrFznaLSJ0UQho
TONknjitDxwE3B3WgDpcE+Tlq6k5ENFayifAVKK06kwv5wRAMb2k21JFARLZ8sLgxiUh4o+udG8W
pEYIdwBC+b3OpaOrFMmbuSkUoNfGlZrxwewtENVCUUjQynEeJO9+qcNWn7Vfk6AsEE9hbxenp8x7
nwSFHNs18RpE8i0ZQsk2HgLzIcx6bloTsx7az+KQRBOxeGhB/yOqv4ZZVsAyApFMqSQ3gWQi/G1u
AQuUCFujn+gl1c6BvNqlu4AumtFAXBhoqopvYXHWavlNpLDUpkXRaR2xbsW9Egwxy9X7zHMWx/MM
CEogGdSFzYFkVC/30hCzx2oQuC4AhOpQj9zLwJKVRB5J5oZiOnESVAMRPhdI4r0Mkq4ASaBhTWE2
nSUmjLg8xFwxIKmeyF4dulDMwtUMzWLZM0UECDgI29tWiziGrgXyShQ1IsQMShRD0h6ofbS0+Dt3
7t25I25h1KUTUTsxaEduQpkx3UIgcAUIxwHd5vrZ17A0hBJQg79GJ6wFPwXA62///I9/W5Vy/seP
3r2HksyjoiDJmk/n5p+6IgMeuwuQdcMuQES3IdBUU+qJ6lBQDtz70W9XsfzhgwP1OaixJz4HHc4S
iwqE1pNOnFhO1tx8SD3RXEOn5ajI1E/RVUysRRaFJLVpA5kJ5aUa8cp7P3m66suL3xwYhFmca0Mh
+swfCVL/cR/p+7kQ1NOF8JaSbtsJyOBf1mu17P1oJNzKEusW7GrgMVt76G91UcYwXnbBivXf93+3
mi7fHHmGBDV0r0ysW3FvC4FdgyRLLiXBSAhUIxH/vtpYzn9twm3CFTev2ry21r9p4+LlQ1KSuRCk
4ACEp0m+t/7v6qLy+QFHFGK4oq6A6gIO9QdcwKH+pDwfInY4VgWd5DkOmOipAEjPYlgUkiy5NBay
HG5/cqF0V6uzw5TEzWXkC6l90IB3yTCkzcycA3kVCji9z1exLre/2EK6axPiUCuJ8y9eWmBgdwuP
tIR5M3spStlSukW+S3DvK1C4dciAAMiCxctJt8jXT3pNlPVfTWxJk1T/ezG6a+/OBr8CRJZ/0Tic
rhCjMcElIdz9xNvl8v+34l3jX5t27B5lDDz5uFA9rzBP90EgVZvOgyzd7bcsmTu22L7spNn78BLS
Xa1ODyLD5DqJ8qZpQZ0i0ODt2ItCiBfcl5LCl//rUtJdrf6i5Bsu/soS3AjpjwDt7otCSLXZsAIo
LSfjf1xSuqvVr1W8PjxfK9U4A4gxfm2QxOZx4shnGSiRbk4c+VwUEng387AC0z9eWrqr1ZFvvsDk
AOYR1ZkaenPBhj+Xh0goCkDWV+JQFEWVRfksCjH7jIw0Umtp74sZ4n2xL2FnUY9Lq5XlCzBjiGIi
n8NliVfot6GfjjKvs2jMU8gia8xT+GRxiDxQTIOxFfhPs6S7Wr1fmaF6lrlXY1J/EffrpMqTu/5s
CIdK6HvKpK3H5xj3LkAGyf9wmfFEQw8HkXs1wKSs6TObzGszC4KpmvOS1EeRW0nBp2dCpcUhbkgv
H/J/zpTuavXnpbluVwvIBAtM358tXbIeSnWYwFQb30S0b1AgcBXIK1CEcystlJF8zh9eQbynWexe
qHXRil5EoJxyqb7bzJ7hmRA3N8H5mYlCLMtoWUjys1Xp63+5gnRXq1/ZsI09Zsqbxp6xzIRIkoue
OfdAt9hEWhrSl1tfXEm8Z/sbukrXq/+ne3sTiJVRPTrrv3+9knRXq8+shd3wI5legdK1kFnjNV/W
Y7fLlVuvv/fxn0r6z9/+9oePfnrvYOkGd72FrXVI5Ni5auNdN19palu13r33/hR3P//o3b4VDGsB
9lqhd0hoL+T9loVogIyXlr4i89bme8BD7LpcU6LRFy9XVxZC4pFHhYwzVP76wYFBygBtopZMS4Vq
/hHWdfFcitLikOQixQV99ca7br6SROW0kE/jT7wJ0+2pMP8372C6uBaNrLhKm6MsDUHX99Zvn1yD
eM88DWwgB3xjQ1f54GJy2FTe+LGVw27rntv6br5sufW22/tgI1QixWy+z/XlxHLMIrggWvHDp5sq
+bXfaViLTreN7uHy5Z6v6XkHue83H07WEp3MCglCejyESC2NS+fDaxHvKZ+hZOnoFIQkJ7E+B/j+
0821HHEtcrVdLbJcT82dLHxHK/qUL8O4/rSDhMs8nqwlJSLW5kBv+r2fDSFSSwrk8b+uRbrrBpEs
K8VyWfmPHUkXuuV+Ca6Wvfc+/ugdDLVsKuFCTrvNQbyP0iXLa0G8l9jx/jWJ988tzfflYs+Gu2z4
fr0Xv99UYShN671e8b55GfFmst7K362n1yTeYptlWcVYlvjkWRtImy42Ue4SqRVukJb+37EW1KUO
JNYpbBTF20GieCdrkbBec6Ao3iFEPsmsoJr9cT2KrZTHmRaHNnc4SGYj/dy++E7uUxpk2fehfHcc
a+GpYhyB0YNAw70tJLbe48lamOLbA73WiBemz0XN3iLgh6vrKid1nMJuI9TEKs4b2upQL5BntCFY
2Po01MLMQa/gXcUN97aQIN5Hk7XUV0ztgd4M4h1Coq+bLuR74fKO8uvDGRWjcv6be7HBrO4myTHj
d6ynwX+whcf+FOXm+3tx7GpJNizyf+XrznKIkCjeyVomDhTFe8G5qIRToMPzEi+8fXHydClfHxYK
D/fiSajZlXpXt+knJ7rL9/pvMW0uN2o5RPFepNrYJQlRl5/WQcGtC1L/a+EBQNx947Bim3DTM93j
B/6uH1gtpELczAb+CM0BTlsIhlM9nqzFjWY95LXBaU6cS6K5xOU1csNzmtZ60dSKVRm+1jygfD98
e7cOKxLN+qIVGOpSETXgdP/CSlerL+t84lLLwyAMq0VSPFFta/4EXettIEG8jyZrkVBvc6A3g3iH
EJ9Dz+6yf4tXV2Mc640XxYZ+VRNx13Jo9q+jmSrgIn6CZFoF53tPtxDv45rOW7TwF6FerWVT2Rm7
F8Vl2QyIH2sz39x+zTXw9+H7U+5hDTlUU3Irt9yR7HI7fP1ca5Hzc0cA6ZdRvB0kXOrxZC2ezxwk
incIkY9J/OkNN6yOZMVfBEuW/NsfPv7Zz3728W//pt/8t53F38UKDiYTUPGTbcR7KDtEoj4NlzNV
vj/YxZ3CQLyXKK8NxDtRpBF3Y4q7FP2s/bCezfnn797Lmcysvdff/sXTeuZshxaebe7P46Rbkn0o
ueVbeTbOKwEUno294kxqgeSdju/Q2hzIXaZVbfQAA4VE8YIMDDyEfFKZvwyQtvUOIFILiba034fx
8vYtwJz3Pll988FBlS0lm5SR6t6Pfrc641nbNe9nL1bwnFKEWK8hrxpd5BxJeqKc8YEQ/qETe60l
Jd8JXigZ1w+NeFOc99SotpRo2aMA4WQY5zgXSM+9HaT3rcMX8SpsS/GofFDz6KJBl+FHR2EK2tNQ
wwvsjjFSLFPFzN7/PT4xSF+MjkZlZ+xeSbNrTNEXsgyc8DSw58eTaLK8y1LiDVrrpjH3RlU1VZ7r
Dj8I358r92IQr57llGoDu5Cm9aomchA/U9jWaqC/14J4hxCpJdGyKjk3PfZMgoflp5yRJbCT80Kn
QDFk/eGTWMWXxdClYLFCysNStnMcfaUHasTLtbTirU4YWvts/bERLy0IbZAo3mr+tRB68Hv19iGv
oCaQ2HqHEKlFosRtjz3T/B6UYJGk91C0wBUOKEAj3hNeARVoqTf1nN0fy/Ovf/z4t380k+TTzAfK
cR7CmfrfgnjPsc6CI1bOLffW7CSeKFcgUbyseSOEcpwyz6ULkEa8I4jUwjSWWlfv6QSXxEhvoNZW
vOf7OKzhi1VfPn/3TnU75Ttvvfc7vughj/oTi613N7mXgzOtF+Csni7np9mqfcmtkqpyFkgj3tUD
vQ8KWZcB9X7zjh1o/fvGL9bfHeqBokXy3KLwG8R7k6M2eO0y4oW6nllrLJ0iMw9zL0iOKhAltusj
l+2teL90T11BXkZtNLHgLwfJQ9Yf3vjk/IC5t1WZT1STRHKoOSdE8Z3dm9iOVUgQb3WndxDkD8hG
sIPE1juESC2J1y972LVer7mUfZMoN7aJ66tAWvGeVO516fpVr765amEHLQTz3j3h6vV39z36SCDQ
cK/kG1XPaxOtcEsGVUjTeuvs3AaSNG5K1q+DRPEOIVoLN+HQQkpno+pDMx8stxP+7epoa+g75moq
Y9XtGpIvfJ1fTB9rdyLF1Z7tCPGcnzIkrgrg7AS1Y3WrGb5P20oOR3Zvizq6MAXHO9ieG6QhB++g
xc7nAGqKTti9DcQsX3+N1HFi6x1BtBZK0hkQ4r6QQ2Y20ez1nKNhJlb0ra6Oxzk+0KP8NJ6JNYN0
EHB5UvVQ993NcJBGvL5sdumMPGaXKI14NxXm3jdXbbmbHPu6fHYZWFRXg+PezqWzqq7mECEu7+2N
POwhoBFifreufuIgrWoTpzaOYm1xYeHYeqtDpIGAXByKY9wgUbxDSFjPoddsJcBnngrQd5kU639k
0991dZyALacjZ92YKCe5h4CzqemsZSbY+ZGHePEq98LF3NuptkvOOIjiHUJ8LTAy9R+b8AwNzfEC
4B+6Oga6LWbPlcjvFgX2PiH0r8LXofXGQ+2O3Zt7V3rdTdZAJZoW3QbZOzpkwhF0lETF6TYh2HBl
5IlpISEcyNqthKzPfVIq9twL9IudagN/CGgDM494Cn6EoD8LDJDYeocQqYWWHhgsL3Dilo8VSxl4
kkutkTPFLdv9YV/JcW85PA2A51GsUbquQH77vZCnOxhWZDdja6TadHJ1F60AqzXUkrPNv3aQRrwj
iNRCo9x/7iXzONgFjeWQ/ahNav1BX8mTTnaNz/0YthVvirhOvJiMs4eRYkgGia1XFYqH8KxhfXGQ
KN4hxOmPNMqMPN+nQLF3uOvTaoR7K0QAMEgA7ImpCQTtX5L3Xj3uhTSKHzzXHKuIdOLFJJlNvLm/
SadsvOk+jXlxqs/IcBBOKbSjTkBa8SoCOssB3TlPiLeFWNqYnopsia13CHFnu+76X6zactQMyWon
hmwzjXLLvaPcmxddz4809EzrvpAcekg7avOgEfcaD01GijuqisNSgjSjNobsvfX2j9+619ZS+3w/
3jqL1Ao9+WJHvr1Pp0TjIaqKcGp1YgK0EJk0Bu6ShpAo3hrDLg29nGPjTq/tgNMtCySKt86zbyHk
H+S8zhwgTetdf7/39m+f1v++KUtyu1pq6SPjz1PojpqjGi1f9tJqud/V86Alogi5e6VZxkG8EfVy
ufcNt8Lx2TsRvW4ZvV12nLxNkNXt4G3TxnDII/vuuO3W4cI4H+8icviXv1n52iBxeq4AvjmYIgdH
bLH11q9+8rGV9/2p+A1HtZbYevPeT8Iln7/vDlQjxZ1dVq4bkVP+9NSA3Lf8hXCv+ZcGtsMT2qqQ
eGFnbqtB/EvdEPY55K0lzWJYjjYNK/LUsCK4DE/dsCJsoAysKN69Lkn3fTtQNe/ebAGn6s1Rl47x
L7usYrSCQB+2FT2LCxs3kYcTUgINxCaI0U+MQB8hCfeL1UQ5Lh6WRrxhdlk78ap4V2Lm0Bk/baCU
UFNNum9ab58C/eJQD1Q59WEL+AokzFZGHsjJ1rITikNJyDeLt6i7T88lS0cgUfgojxJ0EH7aINqB
gngfrCG3poXLHprWY5YuilYEg/GMHzDR1XRS5wa/5r86H5zCCbpoBfRm77FKr+blJr39qcaZixB8
661CKJs78j2lAYxAmkSpJ4nj1h5C0W+0A0WD5MEasjHD8lGnrLdRbU3rtRI2nPR277AcO80G/UTi
u6heCu/SycGl457OAszPnWvoDGTSFb3GqMhj2itC+Amxjn7D6RXtcn/jpU2pNqV4aO1ebNI7z1xM
Jrbe3u4dljMxfqt8nzZbX7A37HLBoLKlrem8MQviyOPIXfcGy+GS4i1nFRvjnbZE8RYtHXeoSUik
vmPrrer9YvFWi6lm6qTBqKKkFLJFS5SYQBIcNnNvr9sOODOS/+KY+BBtXTXjXyJkx79BvGvu3Tx3
4FFn915Q6g6x9TqTu1Ft5cstxHvi7PeuSz9XxYZ12rVyL080y164Aqmlu/DDmnOlkCje4jZie9rV
wta0HSiKd3SUTlqXmRx9A9xbBkzjIU4pX20aK8UFTtFDoT/ygzjyCpG2ONKaPGDTetdfPLxQWtfU
etuaqni3ab0y8ayo6C5I9oS0mlEr8C9Aw5Gt86Xz+R7D9PYXjrSvkXtzO6y4SLydUjhTHdtsOKkC
2Ea8J5KACvD37bZH6JsTohmNyr888ZQpuvJI2dZZZo/JhmNICuPDMzcvdu/OoPAjzoJ4H6wPtFG8
j+CSrfe4mINRvGAzj/rWuxU5rPbJpb6+tq7JPUBHrpJeZoO22rgcgIMfZWPHeU8S23L0GsTLY88a
ax+uCvpVbduRe0tS9kbx9qO2C8qGUdv6t+He0q62Eu8xN8Lch4IONU2E+6rPI8k8kA3+SEmG6LTk
l2ooVyYJZ3bq7N0vRqd4Oh4Uj6J67rp6A/ACQWywe3Nn9+YmO32qPGO7d9DY94kaUCISMqi0BWkB
vVYrr7RkVydemdnBkHCok1ILLX47IV7aHMS7Nsw2r+qxG5aDDhWx9xRU8arhC/QIDnE4JH4YihsS
08NQ8sgxX5eaQYHEfnVSrbyaOj/ZegskihfxYrsXLiPe4ynLAToWP8GtxXvOjvCBGbkfQhEY10it
o5ngMCsDFH7+TCfe57yRX+/HbVRX2TgWL016jeJta+nEWwILl2u9E6qthhti663tbCvxliUXqHO3
Z9t4/ifKMEG1F2/E3J/YNpwRIB0sindxuzd6zCbLY9o/5/ZszzNbvfKgYjIeJEnH2addzHHUen2J
4nV271i88+ze1kt7kXg78/asKHDuuzPt3uLUBXLpdOJls5dicdVGIbOXTA19jq2MmtmMqezQHuSk
uhAEElnzeZJnaKRJ7k0d96YLuRcu2XoLETStF3VtzUa1dQqkyOujt+7cef0XzbfPeZLmQLwYyDcG
imUmdzCMxTjuWu+JsC410ihebrzT3Et9J4j3wtb74GVbDmUtltJKG9NdTIc+WLHvPTZkOTm7lx4b
YHMrMkFqEx2It+h+hUTxJg54A2zgXmxb73psSFHLgNVQJl4n9w6iFW1M5vf7dfia8q1wnpoe2nsR
97dRbcPSi/cmVBvzud/HZadfY+uFrvVi23r/Yhq+yQzfZ4XfifcgK7OzhwWEIpwTBiMkD8MVJzEG
HMWrdcH0qG1EDhzxjOK1cApe1qXTqTZNWxlFK2LrPZaHlGRsFu4+zPTUlU68d3VZGOkiotv8wrko
vwIZjdpOFF7BUbw8FNzQeuv2IN4HetSwzzkqW3UK6YJSvAMNOXAthe9i660HieK1B4Y1Fu4DHKu2
1d2g2owgOU5s2Za1gswxhlLXQLw8Q4JMhCheOa3J1kvGShQvSxGwmzYouvfyhlnr0nGD0osC8Y+c
qCI7HPOldeI9Yo+NzSmSJzK4OUXOYSbW8aDVnOjm+hfFqzSTN5FDFO+RMlHLvRZUxcu5dMqOwZN6
BkZ4A5dOEO+xHBW7QC3Q2umdeB94ahCGcM8t1Q1o0xZpQ+eZP0m+lijeEzctZixeqvWT5tzk1IJ4
TcPMshwi907VNDDMHjlsjAl/yV/eHxywm7eiwwop7A/1oaCBZ37ToNhZFZezHLg04kV3o6/HpdOZ
FBPi1SyVD/2Wr6iW3kp/EpNELJRZzV6gZ2gZOVT2Jb9PNzuoREUzCCRqhVMJBeMml84gUlwTebr0
aQml4OVb78idzrql5d7W58CRneq6jZJ8xo2xE++XaW7pPPNN643ivd7W6ztakNb5x20JR3s03Xq3
sHuPJy+PLn2QGfYsa9q5LRGT1eo1j07r0hlUJZow91rhTGMhl3Tp5NGk1zAduMnSqQ/Q4EyY9ecm
S6db1fJMT3h7u7f+hdb1HPI4WtE0uUuUh21V/29D635xY6338jlmkw7JbbhXy9/34MG0q1PHvYkW
N3YuHeJLF8rk7Jphls6XNQteE3DCoc6zTGCFae7tLAdk7k1N62XvHTnC23XMqoPPIFG8ZXNrOVBN
0EwjOKm1BPEeA3C2f2oC5Sc8+ukixS+cWYDCQpKjI7yE4tXhb6pjspPSp3WTQJqg9L7ZIcNI8Wk9
UOeQHLbeDDoEbKMVpxIoVEgr3nHrxW1cOo/EfMKpTtNZUxxsa3rUhctlDDw6q19GQDzUXatb8hx+
ODjBRrzbkMOl51Zci907Ei/kfir7YZYl4EDGQTUmRtlgpOzIKONlFmloNzA3eVDDkCaF74gXy8mS
BzTIHF1DgniPdMmdgccMxHk0uUwcvX3YnWIctZnbqFVtXbTikfdptVMIqkunF8rjJHZtSrzSpGbx
cWa+cS8tRlmzdPpVN46AuIkgjS/gGGRSAYqfvpMLND6HI76r2PkcULOFujUkaZNBonhLv2xaL8qy
7x33ptZyKMs+S+ZSFG+i/KZ+PvyXkrREa59xVCMphSM/J7KiSJ1UCfWLb95NTHmUtRoP9STrnC6B
NL266tUg3geSYpG6pYqUfLHlXvAj+tFyGW3yP1MfjiLFQ3KgkwqXd1oHc9006lqNPqOHDV+ihrAo
gEY71eodrDh/EG3lKN5nzBwOMEorD+Jlf+9oVuYF1TiDPYj3uNvhbKqm6tJpHJKTl0fkkPrsdF4k
blCCz4FeFTpadaNdMCOGOgf29Uj3BvFup9oWsnu/1x8W+uXzaLqkzJSmKaBsnAGbOMApPDJ1u3gW
BixTThRQIU1E+BRk6S+F9IvgtLG2wnR08CheWn2ZWDOqk1OkgxskiHeSe6tOaNzpuXOn18xQgrfi
Je4d9Olj9L4wtXvFY8Ltln6zgnrNRmktySBBVOc88cpBBs2uyU4nMA5aL6/ejGPuVZKH1M5rw9S6
06mW8ttwb7dMnLh0qu5suZeOeb8Ti62p7DrdhdN9+3q67h8uzKfIcxkZrK14x+SAF1XjTjeKdyM5
XJSd/sjLpSeHzpCjA0jOKESDETQlHWxqqk7H+qSr5xkbvAJpMkCOq6vFQ3qdBK1qw0zTGUdr6cjZ
jucUKySI93gcymQt2Kk2aKMVksrUhitOOAE1DZZpudtEIlK7EBTzg/93sLbpk2aPxn301TW23gur
mepDl229jb/XYeF2By6pjf2wTT3qSVZ9tWEFqtkrwwryzIyWnH+UedDAkMa/UVwkKUAanVQPFMR7
hBRQbVzw55KKTNfZUbi4BXBCvKM8hwl/bxspdr6OwQg6wWidrVN1l8nDYyRUrFFfS+NhyId9NXer
5AzSjIrPMdP0VoV0q7SszyCI94EGODrulXUqOgNEXFoKieLFcQIqudfaeW3Yci9JZwB+LqtP954Y
0jqxw6WRV8eVwU06378A9KDd/mrbvaGWqtZLUvnoMShf6RpwpjBkYrFON6Y0HVZ1A244k50lSN4s
JV0XoA+QVidhN2oT6GDUpgPA0QqociAYroA6nHg14dJ5rdtb9H1wDD3Lso7Zw14yL/bZqYB11Ydk
5EDTZR05UCLE3tO+kjq7S9bdoGm68U6e0bMwDdJGcXI7o/yIFsUu4CBelKkg1Y5uKTyJ85ogUbzj
YQV11kGWThtrkwh6+zTMZ+ywheFsgc9oorDPb5D8Xu/SQaHm0SoAZWlm0FoquTZ38kGKkIFLp530
ivLorka8Folv71KdNUNPlKS/KF7oyIFrSa2uPenn3zyqsER/IVD+JZLlkGFgmdWntSo9NNl75uJU
RJO/RuVJP+WyuZN/znmGSyfnkd2rvR/iIOy0mT46sHuxs3thZIhPZekIQYRY1xOxe8f5mp+lzQXd
67jx9pqrizy1ym8n7N4XUzVdYPdGwf8yCaeOTIfV+WHiPBG1zHh1rxzs3uopHz8Y9wBoDVBe+Rhy
n1z3WYQ0za5sabmXAiWpW5qeOykOH8mkKZ/1QyvehntfcC3YWtAn9cs3497CVW0y5CP+Mo0WeFux
l5/dJymJeNkJ4yPFeeKZ2WeZF2vIXMv6AtvVos7vBki7xtBUjlmJPzfitR7Std7YtC9sveKbH7fe
DYZZqPeBtt6JJ6/+d5UexIlt9FADCI3XPTHPl+f0ZGSgWB21+W7wcRIgbTCo3Mwg3iOqpVvc+4DG
l4mGlbETcIQ4KySKt9ysSI/7IOHfJhhUa4nipeZGtzw0nSOKwBRaHqwwW8r7mWeW8KwrznvlScW2
wNYPx7t/qYmpNQZK9dzvbqKHtKoN2inbD8xB5MW7OpQsnRrW6x5irkqvvgfxHnc7lMRySb25RJZO
8yyvA8gyChusj1zbxPuW59A5JNUjPCVdimI1qm3gFP61Q203aoONKi9ddSUoX9llRm3jxUDCAlgf
/fjnQb6gz20CDjjqWsAcSk4/mpDuap/CntQl5WYM/Gpf32MIvP5/glzoQFGMKOccv/+K1C1NHR+4
LpCfd1jfg3hLrLcRL8VY6wXHxJu695vt3sBupvt+wwtObyrKTbXz83U7f+MLh/pNCUbq9IFCDrT+
n6q2vSARX86QF1HMtJZW5VgcqtG/fvTTH//0Zx//KX57SowcdjjiWtqx12kG8YnkbhU+lHXuGBL2
rPGG6As5oVrWG/Y+bL5vk///IvkK2Dw17NR1dmXEEqb4zw+8fL95p+vhruQ3RtLiWzXe5f5q23KB
3RuuPGSCjhySm8mhcTXdZQpqFogczSn+/b4cNJr+z7mXVS+NWPtloPSvzyIVf36PHtJRY/G2RGfx
FLw9sU5mLU/0YY7iaakv2z1tUE5mFK1gn9LDAH5xJMY5DteQTO61Ee+6+TWW/0kxRDC//knzdd3/
zfjlN/eqewDeeBq+fibp3OVVGbHETffbtVe++em9bGvpMFHuvf5e05mbchfFgYlJbJeuD20UL9lR
4RofcC19iPD8N+++9dZ7P8OJ1iuzA8pPEG9dHrld4O7rd+/cebudJkwzpHsPzefvvvX6Wz9pangi
6Y9h1ulZuW/f/00ngq9lZhM9CDKnQWQtlhecf0YReOBFd9ZvD7cWbzUHR4ZZHUu+Odzpl2ls94pw
h3bvRILxSLxbLpfBj54Xf4Re81/W5/+PL+636M94TCEuX8SLHkX+XNf2lRUpmR+2ZoeNszKnjPUn
xV/ZunRkojmxzSA7fTzs7MRbfdzbibdMyszK9uZqOV73349b18D5vk2S4j0u6uQhjInudWt2mJx4
NTAztXw6y+7dvASHire3e6eK5CdxhNpU51kdyH3YVKxjYvW/bV6QSdeJHpT724p32iHZOS+1PJny
a1oZrfy/lcwusRIUHVTnzjoFUh64crsJ7TzRcIU+LBZ/sLH+s5qM4Pw11VYuiapbz5k8pRByEO8D
qQXT3nCnTzENlkcG95Cv3HJvOciEW6ARb61lqzvxjDOPJB5x305nzfQffhDRd22BZO7meMHjsp9x
eioqK/BSflP+tYF4ac8oXq1lYgmTT7F7TnHiCIe+RvHWuPDfrbYodWHT7bj3Mc/PEKPU1b/ugB8+
Dxf1Iqtms+WR+6c3+nJsiyuHKMcllNsF0YoxOz3JQ8+QzPCCTo8ROWz1aPWT/pFMU+UQiBykOIWz
Hrr9y1eBHWR+KkxriKb0MXg31LvQqGO5bB61pX8b7VRV2+WfWzF2ebfiHYzaxkVTeNWR+9Btw+bp
pM9A3elueeT7m84EsF93HmXd+e2a7+nE8shUy0QMq6xa2VgOUIMbdSJIze9pn1Ncn5Gy6WLcRW1p
mD2jAyUJcwZP4YNWeE/MY+ZsrU3q4LEZYoMyyugZiHdz64WhhffpMBjkBm3DYBDCZkXN4q37byPe
R34GecsOTwovv/7UowfLDQxmbGkp3OCvSvdl1/FWxsPUUkWaTnh/JN55du8oyagX77Z2r2bl86PK
i9J6aNWUMdGJi/Ac8SKoLqkGN675cQL83Bb1AckTP3it2f9YXVxOppbL4FpGT0mcsHtVy9YPQbys
gzdqEicX2Mbu/TMfyNygnh2K8P95dU8PeH5oSyNDXYyzelU2aNvHFUKROeQ9skWEAKIjdVheHNJu
QbwPtJZ17be+6Pf6FNq5ZKc2iYE/RfGys38LfVDJwXHvX6eAd+WQrN5Kd3Ps8ADh9tO7e+xu/OZQ
5oyCcUPxpE+eB3EDYrKnj9BEWZuPcfuL1eZyflQPBJ3d6+hm4PeYshz0qSsT5JBG94pO5KGKN8Xk
/88+Ge/hF/6XJ4X5RdzKwO11/Kfzn/1pdf6HD/b14cZkOGTK890g3ueZJ3SAPDjBLdvHD074/tPV
pnL+PvKcwiheq6U4N3uRfArdqA1txAYTeQ5FyU/5qN5XFV7nFDvx/nLiGo7kQP6+ujRqcrX/YPVl
vv1TTLc/QHfrreRJ2TxIW5SN8n1hzz37ZEPNfRR1qvVepNomTd/3bfTf2r0P0jCK+2dnMQDPBixv
Wj/Nqt37xVG+vzpej44O49BLVNyUfM6yBb1ttGaPtBefzCerqXJ2aPsH1KGrpbz9V7vnky5ljNcI
BzulKF6dIDK63+fvu0HmSa3lTd14hPnfB+d+oAfyKzX4aNHdxFOy/+38QX744sDFMrOupTMp3s8Y
kjNzA7Bjh6adAD/nHfpnnXH5zYFAsFkNeV9rIRVwq63il91UVU724SBHN9PsgeRGjfI1XryTXV84
qbWYub9fshBaIbw41AOp4iHN9T2FfsXZpZjvrTn2UNxqbJzx0vRT4j0/YEhdBzejZpwkaShSS377
k8H+37yTDbIm6d/+UcuvrRa2BG7FSHXJjFvfwF/YLn/8laNe+vmh2/r5vuQWQC+rr2ttt35Hy3/+
tRoZ8D3Z9fd1ilITzOWYn3jncpa1j7NTbi/2ZWVEJgPN01F3b54U73OFGN7cxOG/3D818A/vYtwp
5a6EWn5oNZz/5rAHp+BSUp+UFPAfbvv42tkH7W7t1dTv9nyY7fNDj2m1jcL80+5blNL2hHi3UmxW
y+vvfSyLxZ7/4af3cCN48BXeevvnv13X8Lc/fHBwqSMPSobXf04B2vPP3926tr0f0ZNe//pRd/ae
e12IuiT/J07uB7PKaGoQr6gw0XpPUSCcD0YUKp2daYJzTutEAsh3Xn9rXe6s7/cYMqgFWd48rz/X
fZMEgzGBjcXZp43Oat8AyXvrk7l3kDFtXcv6xO7cuXOQW0hKMi+AZGjDzD+zeD1EDMfEU7DHjfcY
wuGRp1irzwGSqyV5CE3j2AjxtbgGTU+CcSG90MxlxVYrmyCQ8fK1kCe8h5insXYObb6rX2GDFQXM
b5jGrfcUFULnwIM3UdCSLCE5zXMhbS+corCXVCDnia8dGfv1Wj5oeTzoqaJdho33cVAhI2XQVjsX
Imt52Fb66BTfwhBbJEeKMzM+v0fZvHtvZ2NnWbxointPs0H0k2Y5yCc/z2wmpDZuEMrQ/ooQ2/Wi
kPo9R1JJzt7Jt1bkP/7xez9/ep41WqHJpDjBvccBwsczy9LN4jJuviqEtxqEty4OMa0m76Mwrlvb
mcd7k5bDaXYQ4NUedZHl7COKIJ/nQSjYUvWZJcshPfc3cVLo0pCBJTlwktvEkLCWzsjuPYqQb32B
HCMRwySarGu9hdID/3Jtemt7iFF02Oi9R0tBhBw4+R7X8h7MUaOZSMQgpUxy7/lhgNTbJ7dRk9SQ
v7kqhE+HZrkB+6BR4i80JFoaonLTPJFR7mMW0xg8tfbi/Ux9PsKbgGoMhCGYm6wzF4KsX4jmQGYm
1ztPlw1LQ1LT8+hzq93OxaBjfpBHbPd6LUJUPK6Dm+Wlie4zIa9AMQpOMn5fj8Y6vzKRg3ZStpZa
8Z4f+b5bu7WaKrLB5Uqoz/ZKkB0vboTPQbfU04PZveK0GIn3sx6Skj6Z3KxEWT/GrMSZEOE7Sb9M
Qok0OxeWh3SjNhqPNfRw4Ok5s4+85d7T3EJouqV08tqvaRwoSXVEOPMgmqGiwyLximjEPe0AxLVj
+/i9L4Lk9oee1jid5sXdlNIr02lfUgG20sBUXI1SxASYA9oefTrNoxuPnQKy0v5/rS6djGpa0LlB
BjUtEJeHTIod/6VpvYMSxPurqUFa9zXcEGQnC3kbUlLSYDdKCHHvW5KOLI68Bvo0kt/bCMUgdV3m
khCKpImQnh9dn3xcIZmfHz0HUpdYKxGNYl2SP7iGSWr4O5OuWRoiAnYhIY4BBfk61QblOmlKsRPv
XxCGEH12FtZHMmQAetq5QGA+hEeOIW5RdjMPW1ocsqFZZ5dltz9EGDl8vY/puzIqwGkHTrdJqNKy
PA5AGpQpF9d6vz4ANp/YhJpSUddaukfqtBoQF4cUAdcV8es42Q+GgnwxJZmhpREvs3u/3qccNegg
KelwwIJ+6CFpNoRd2urVBnZpm1d7eYg24er7KW1UbeXqCKIUmLLmkFJzzolXguLsr6rVHPc6SP23
+iGQHwNJoX1kSE7zIbEPdqYFtsS3CESdJkBtuobIZFS2ViA/Ku6H59D4hDlccb84Gj7gjgqRHPgB
IpEqMHRpyMHengFBXqU5KVkkvgi7nCUhF1PzG5+sXhxObLz9dHX2zkUVdN/gzUB2tIAtJUEf0dMD
4q23DgWh1CpPG7z91j4SPDv7zkG0NnbKgEYj2W+TZkOSmNjkR5GYJ1o+ESwO0WGFCjAlL1tynDi3
T/UTO35O5Ep2+zsI7Z4TuFpI8tcAqd9lXrYO2cmGQOulydBmYQirfG28tMRe6XhVeSDtmsRdCbwK
H9CgjN1vtXa0WhRSJITIazBpdi/NIKgQqMbKPMgN8MsNQEhHlEYh1po4KsQxSJoPsqmtSt6YPSBz
GmuAvDRLU/WLP/QOQDqpd/fiu3KlYtxLXZtGDOjJ1UYUai6vQWroo5jTMhbwEI3maAJnyGnBK0Gc
janxItQtOwBxMgaaKsXToclwr9yKkrQIPLajlYe00CwIs3sNQlm5WeZSuCkADOEw8CwIUkCKG4X9
UptwvwtCSHA9YWuAw1p5uryPta8YY6XXBdndYs4ccNSMLrtSEhazjtqAx2T6cADy1XeQVhm1kxoa
jXVJCOleHijaWquikmEHIJp8A+KGYF8JW8b8EHNu6qAWk5n5qA8xV+tZIbSeAyok83oOCoErQDhU
nOVRvcAL5lePcNLXRSHc+UzE7KcWuzfRUsTJBeKJEAP3Aq/ja0MPhlSXuEFo8quHwHwIEURWZSca
EVUfpsUhyboh927u9RwdILOOLVrQYKaXLndak65BMrquTc+mAO+voXTS+RAKz2P8U5bSv+Ug05zc
KY9Gv/Q+QYAOsrRiWb5All4vhqtwAzsceFCsPZ9VufNKkCp35CCQ6jYATrw0Iza7Fb5gNgRlLWRM
ycb65IpIzh2wJKQKGGgwQcaqeBNUvTH3iketEIp6tNk6BhSnd4SoC44hMmAxSLoCJCUdt1i3kREH
6jeLQmQkJtoNs2+9PGpwLrMsM7CVemUGdu4h7EVyEHI0XQuk3vpyVepL4jEnmLtpcUiSVC5VKMA2
ZZanWWmeV1a1lTmHzDRb5iyeCAnhUV+batMrQOI0DIX7GpaGWCtO3Udq9qhJieJRsLzFESQ5iItr
EoR9GQaBq0F2vzAnJGOTxJ5eU/wgTmGXJ+HG2ir8FgLkhTFJ0POx7G5QF7oqBNkPpRAfzVgYAmD0
m5CfAawes1RtTBfyyPLUFdV8WR6p0kNoEw06kB/BQr8Csa8uD6nHp4dNmg8FhJbld1HIpdu6fsLm
veEHbuDT+7f1XA2ysyWLNrKREUe6m8lN4CE0dcVNqkWux6IVEFWbTVMKtV4B0q96Af6LXYAkDmw5
o1V6Pdu1OtwQlzAPNWRMYa509VwoRLWhe3UbrwxxBK16wzX5nYEU1VaMTNDHN4nXLIsmUQEisbQO
K7BC0O6QQWoos7rAE7uYkDz2mSHkaZsHocuigZPwHCQeOCXRuctCEsZGDWTOqjcXxdnjer5kyBg5
cF/pIDmagaHnXw+ESAwbLAQmWxDSNOhecyWHSFGpWA92kBBa+LZn6JSTt+kAkE2liS/StRzRWi5a
0DauFnLDrTfoTuAXDJhlISmpdWZKKSWJtbnGKZkk4raQTSieDbAGjvbmGmBoc9g2y8tD6jA98ZpI
aE8WABnA1xDCopCkoy1WS8wXzqPDKHXYkAnm3emQNdAUIZDlsX3g3BPAt94c77MgyKt/UIDb3kkX
08hzcUj2hRt3yhKv8L1f4hX8hfjLrJ8qQCEcz7N4p94ygWj4aAZE+6CdZUNoi0O013Waqw1GpEEw
osGIL/27YgWgsxrSyCllfisDtSp8kDBxs6fO50r2J7DKqN9nIv/FIRYCpl+es2aDMvDcW7dk+VAR
wEw8hiRhZerPnEKJ6L6eCZHeY11Geo/1quUhGwq2X4QdsMX0lvHLLP3J7gQEOAFHrAzJLA0uG4nE
+4h4VH6q+8BB7OMNFLSzc2pQNu0GhKgBnXbTO9DqNnXpyHbu++qIVIpxkJtsJaQwsNkFYYcgzqBl
6WUx5cRjBhSCUQATqxnGTImuDoGUeyhzstSOQ5m2pXbcPAjKLfCXBt3VLw0xNg5txweDCJYkasQA
Er+5LWRoYpCmuX37nOl6soPLwubiIBII3wD02wFesau/6eIGGt5PQWNnc0iK8sv8WE9ePL0SusTy
oYPI8FYhqM+2B4ndz4aw65TC/6ZOxKWqGmdJSM3vBRoyZGf3CvcWC1lMaDXlataOcm/ZRgZyB8mg
gxEQ57uOV7IPcMyC0NgeQ3PZwRVQwVmsRNTZFAdfh3jMNOkL9S6wZ42qiRDwAIp/OAAHVGdC5LAq
eT2s3Jy0PMQZceygwlAqYXjTgl1X5jJj75a5zAyS1dMBaiOi2YugftF5kN0vydptLNh+ARPA78rG
It4GHfEivTKtIjhisC6pFIhovXgASQman5Sw+ZkJMSM7FmjLghAZrhHbJW2fqrUQ2Rukeqv6amzJ
HSQ3kU5/CxDiexAIVVhvAEGo4nmQtpW07aZ1qC4JcZK1Nozt1h21+bc4iaUg4AKQnFnC065YtWlQ
xvlrQKMVGpvRaIWH+BwbWyLWpnL50MalIaJ629L10AUh4qIEGvDWV2f3JknDFwcmyFwo4xmZC+WO
K5CMPBXffmQqvv3MhiSeFdDydG55ekGINPHorEWv2ixBp8rO6z4SL5j8GwhXKhB1PgvE3B0zIL5L
tl/tDBWD6LYEvMqDNV76yb7xZlSYkEPi9SKUHBQCCZJu5j8Ev/kKEDo7cXJYG0I3HloaEtrsxXfK
e3QIYhgYQ77dpQ6NAJ1q0xgFOgUDOngSZWd5l5D5X2ghFOZwEBAviEBwPoT7TqtNmlHnshDl1epG
p8gnW5ZCDYCOwoHdYMIeKM969hmSClHNzxBdkjUzxAMuC6FBvg46+BXbHNZlIZItScMKGVyYbpOI
suYAo8ZDGZH5o0ZHDQKc7isQWhMHXS14FQgVUaxGRvRexyCLQ7h7g3p2kpq74vsV2qBIZ1bnCv+C
+V/o13wxzma1xyJYndcBybbRjOP2dSnI0tT/P75UBrbpLNSulViLDkky+OC+msmhIJDigEw6w7WB
JFnpoEJo3RhaDKFCgJbxmgWRVDl/uuyvcKe7LCQl5w6rF5G8PyzRHN44rpCqbFzBR+sgle2rjmMI
OX7wmiDJB2zlvX72XLgrkPbzd+UaCoC3bNlXcuHEq2AXN6jwRfzf9OV1QEi9dEomdRpoMQiLWERt
DdzZvklGzQamXAbkb8p7jvUIxC1oJgE80J4k/Xse5NUokMR5kk2+VbxEz+r3EcuXhtY2rEBeasGG
FQrhimSiLaWvkJMD9XU2pMYLealJdlQQS5NjAngliyUhLGAnm4Eb06YGFAYRj6MOBZGdktBBcjUr
KKHc1nCi8Zf6LedC2GlpC1HxJ/Fm8kqki0KW7jv/4wvHIbKpNk0+cek7EhB3oPBmHJ8jpFFKoxD6
bIgbKPlj+3NfGKIOBBF2choLUzTdmFiTcG8S7k3MvR1EapIMFdTDMEQPPQNCjns2iFGe42UP+OJP
S0LMTy7sOvCzeUebWEm2WQypAcRuszVIC6KFpnl5CPun0BnrIDcB9ZYsCymhTHHz2alLKFMvjPUV
uAw19bjaxKsewp8s3mkT10SCV4E44nDd0m1dGiKCVocDpEAPlQNcYIO5BO22JYWkMUR8my44AtcC
eSUKR41UyiJdd2EuguTG1uxvR9lB0u4CxG5Cf9y2zIOgni9DLOK1PERSdHwAw7nLuPdHAGc56MhC
shyMxgUCaI/AleiQD2GQ73YmpBnPyQhTh3yavbUgxDvMeLglaaNowQ2OA/E0F95V7kJIQmsgSRqz
I4843E7zIXSNmkGg14jScpaHJJl45ZiZ1QeK8ucknczOH9PuksNjtN5BbtTu3f2Svis3W3iqK8cM
jXvVpy7cK+q8UqJqNuFeBMciAqmLbFpslz9b+FfWsJ8FQVrMZv2iLrv6Z842+VsOkjS6qSOuugYQ
GrVCMtFyhNjCGcj86sMZBgFNDxbhozIz3598BUi9GFPe8sIb7GVBiH30piuhvXWbUgfYypT6thfV
WZApT4NHbTLvilUW6zbINlixiUfA+qeDmFYy5bSlL2gLCPLgzjZC5isQzMKQ2iaz482kbdKGDWEo
xQMPR9BsvoGNKwQiQwy18MTksgyX+ZCs3QnDT3LG5A5AvGlb3JNOuKLaFKSqDUS84tTROWweUv0u
OVlWU8mnBBB3OeelzIYw/2H1ogkhs9WJIJy9KES6GzA5FGNNk7+jecmhCOue4vaxHtxAykp6voZ6
qyDHXWZD/GzSel3GHTVOosvvLAe5Ammje+VOYK8dLrW464fsZAFtmEFvuAmzStWhYaJb29s6QNO+
b3TU5mAIzv9ZS21QsDTEIsDqsem96TkgVLoeobcoQIhtohvczbVkyc2EoBiaYrObLUpGc1GAOwDJ
4rERwwHFNKChAStFkhybCi5SLMa+ytcgYlMIBOUACmHLZA4EzH6ga+JxlNg71WO3MKTxRvJgNjZN
DK2X+2psvDFipBDfrV3CuevxMB/SsfFOFj+pv4pdDVoeG0OWWBwlbxDbJDXM2IpCNcwMUlt0MVME
Uht9zVNgSL4CxCsQfZGC+rIsBBz7JiMH9fhmy19Xn0Twt0MKeSYRkusN85B6w64FUviOfhP9rb8q
XpScyG9NcZhlIYkn85SmSTk8bBWzfGsjBEciSRJ9zKfDuUDQQci8tglTYoHjdUBqq0F2WkmL0WGn
NqqFIWPLwQeDglHAToXwRDEO2PQQ0/mSsm9mAej7TIhcG+k53ymxjXstCJEpIupNNF9kEstAmJl8
uV72PGhu9aNCiCoUkoC9wApJ8yF0umpgiCNEDYy0A5Ck9g7QJIBIrGUH50zQcFzgXuy4VyHi0GAI
CrkLJKcrQMpvFoMNRYnwWdOwf2EIKzf6yEk9SdfAScR3qMYy2bUA0XyrGT8++V8g9Xic2agz/cgF
ygs2M1XPgagHhfskp2mAMCJ71paFJGh7NsYyHJC5YZsbuXYQb7H6L2OZCfHG0A4XUDWXAdmEsMZJ
Y09PzjyMc5YD/QwgOUlgh3+oL7kfnhE4B6IU0v5g+7MgxHV6s3xjaSyLMtyLLocCySNI6TTc1BSS
eBRmtcyEhNbL/dQ3mtaptgyENgO7HIDclSRjyiHNxL08koZEzxV08qWRnpOvQug7gyRb3pgh6QoQ
ojbkgVCSAZGwXlL2Ww7ScW9q7d7ajKLVVZ1o3jArrQ0HEHArIMqrrYAorzMhpK6zOHskpC0bauNY
GqKyNyljW4J0LwtJLSRdF8R1SUzDLpl2ACK6SM47iTnnhxVqxhV/DdKfckO1l93QwiBs6iWF1Dtd
6Ych+QqQV6OoP6HKuhoNidVbvQlA6f0mvNRxL7TcK5DED9tmSKoGLBDBE7HOh/gWg9ZyuM1Y41oW
ckHPb929UEMfweVQQh8pjyBlYEAb7ZU3uteZkHoNPCRNal/KkDTp65IQkbAOm8lVEQ2zlllT63aI
DjMHYdesQBDYe5sZUt2OMyEvtYvPLqpM5FMUHNDjuU1sPFtO70Gipc4N5CD6OGeUaXScgCeQKqqZ
EO2ZpTvyDCLqmRwsSrsASYKjaFnK1uJZcyE62yKxAZJUoYuNojrfQXgwo2aMjnfUjJkPSVS/8V9S
c8KubHHIFpHiSM0ygHLcm6NxrJCauYZstQK7KoRSxbUwF7Jch9++/H9bh3u1U3rKFQAAACV0RVh0
ZGF0ZTpjcmVhdGUAMjAyNi0wMS0wMVQxMDowMjo1OCswMDowMOUSXPMAAAAldEVYdGRhdGU6bW9k
aWZ5ADIwMjYtMDEtMDFUMTA6MDI6NTgrMDA6MDCUT+RPAAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAy
MDI2LTAxLTAxVDEwOjAyOjU4KzAwOjAww1rFkAAAAABJRU5ErkJggg==" />
</svg>
               </a>
            </div>
            
            <!-- 技术栈信息 -->
            <div class="mt-2 pt-2 border-t border-black/10 dark:border-white/10 
                        flex flex-wrap justify-center items-center gap-2 text-xs text-black/50 dark:text-white/50">
                <span>Powered by</span>
                    <a class="text-orange-600 dark:text-orange-400 hover:underline font-medium" target="_blank" href="https://astro.build">Astro</a>
                <span>&</span>
                    <a class="text-blue-600 dark:text-blue-400 hover:underline font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
                <span>|</span>
                    <a class="hover:underline font-medium" target="_blank" href="https://icp.gov.moe/?keyword=20255517">萌ICP备20255517号</a>
            </div>
        </div>
    </div>
</footer>
