---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<footer class="mt-10 mb-6">
    <div class="h-px bg-gradient-to-r from-transparent via-black/15 dark:via-white/15 to-transparent mx-8"></div>
    
    <div class="mt-6 mx-auto max-w-3xl px-6">
        <div class="bg-gradient-to-r from-[oklch(97%_0.01_var(--hue))] to-[oklch(95%_0.02_var(--hue))] 
                    dark:from-[oklch(18%_0.02_var(--hue))] dark:to-[oklch(15%_0.03_var(--hue))]
                    rounded-xl p-5 border border-black/5 dark:border-white/10">
            
            <!-- 内容区域 -->
            <div class="flex flex-col sm:flex-row items-center justify-between gap-3 text-sm">
                <!-- 左侧：版权和链接 -->
                <div class="flex flex-wrap items-center justify-center sm:justify-start gap-3 text-black/70 dark:text-white/70">
                    <span>&copy; {currentYear} {profileConfig.name}</span>
                    <span class="text-black/30 dark:text-white/30">•</span>
                    <a class="hover:text-[var(--primary)] transition-colors font-medium" target="_blank" href={url('rss.xml')}>RSS</a>
                    <span class="text-black/30 dark:text-white/30">•</span>
                    <a class="hover:text-[var(--primary)] transition-colors font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a>
                </div>
                
                
               <a target="_blank"
               href="https://edgeone.ai" >
                 <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="145px" height="30px" viewBox="0 0 414 60" enable-background="new 0 0 414 60" xml:space="preserve">  <image id="image0" width="435" height="55" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZ4AAAA8CAYAAABW39xeAAAAIGNIUk0AAHomAACAhAAA+gAAAIDo
AAB1MAAA6mAAADqYAAAXcJy6UTwAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAAFiUAABYlAUlS
JPAAAB43SURBVHja7X1NbxzJlt25WcV+6n7z3NW/QNk7A6JGJcAbb9xBwxvDMEQZ8GAMGGgKMzYM
AwaplT82JB88GC8MizJgDDCwLbYfYGAGg2k2vPGOqaU3VvWjGj3wRqlf0NWYfi22WBnHi/jIzMrI
qiyyyCrpxQEKouojIjIyMm/ee0+cK7huvOKg99dQJG4L9VBrGYIYiGYKAvZFaLwWzRzEmFpGidbP
fwf90XhLxtc+xoiIiIiIG4NcS6uvOEh+xC41FQglBKgJaNuphjM24gyPaErFEEG0/02WgF/1+hsn
51uSr3rCIiIiIiKuhuUanm+pBNhHQVX1ZkRDoGn+DyEKihAg6YyQefm/CWgBNM0A/fuSYcLDyT/c
yFY9cRERERERl8NSDE//W6oC2BdC0RmYMoRmPRjj0XhPhgJxRobGyPjvEiBBlF4QrYESaEI0ctHJ
47cP+yernsCIiIiIiMVwNcPzLVNJ8N+huUUKE02h9XBIY0ik4c2AQgi0MS7GIFnDQxCkiAYAMUbL
Gh9qUACYto1REo3jXlIcnj/8MF/1REZEREREdENy6V/+P+6K8AU0t6CNR0OC1khYQ+OMB2D/ZwyH
Nt/zeR3tjZSAQlCAggJNsb+nEOK8JSkoQiGIneKid7rxZ5PPVz2RERERERHdsLjH84qD5AL7WmPX
eh0QGGMjpWdDaopAbLiMxuwUFIEY74XWqDjDQ0BKz6fiJZnfioaALPup5I+oAQiOLn7/g8erntCI
iIiIiNlYzPC84gBvcSrEPWMAnEdCCKQ0FC5UVnijU/0O4UJyhLg8kNAREIQgpTRUpj0XwnOGSigA
K+8bgzVKJvrh+aMYeouIiIhYV3Q3PCafcwrN1NGipz0WeO9HHD3aGBEbbpvO9wgJUkoqdSUPBA3x
5AMftnNsOE/JNkQF41lZj0m/TsitaHwiIiIi1hPdcjzfMhXBKTRSEFWKM8vQmFAIoAASTbF5G3F5
HoHQGxUSIMYgnorm9z4P5MN1lmCgYWjVFGuA6PJHpOsbxnBZr0dEI9VaTgfPOFj15EZERERENNHJ
8IjgS5ApNIECYAFjJAoTEhMt9m9LhTYeCoSEWC+lQhT4XgocFknv08nf29ijRlalX1M7b4bwxqUg
WACE0Bog8WE2Owbj8ZjviEb648Xb01VPbkREREREE3NDbclf8QnJPZdnSQhh4XIslXyONzCwuZfK
5lDzb0borzQ2jlGRwen/74vvoOVj6zmVzDVUiAYVr8oYHakrHVRDfZX3tObRxb/8KBIOIiIiItYI
Mw1P71vuaOCZCZsZY1PmV8r8jN/wSRgaNL0ByKTgcwDZZKupNtD/XxcKCU+FAtaYbTCWy5MJTH+m
zRrzzeaCfAiuyniDpXlvnf+rDzNERERERKwF+q2ffMtUE/tlcj8hLTWaNmcjukaJ/l6QjAT6a2oZ
/aLoncwT+BThkBRaoyFeLof+/8awGOK0UOtMILn53NjMBMYOOZD2PfsZ+sxXPckRERERESVaDU+i
sa+J21J6OFZBQE4I/VVSEEXBHJpjfLSR437dyIwxH6Q8gKYYP0esYUO5d4cQ6wkJgeOLf3rr0aon
LCIiIiLiaggbnl9zm+ROaXTs3hsImcgj3O+Pi6v2/CUH4OQzY3BgmGzeuzL7esxeHxFqokd5frHq
2YqIiIiIuDKChidJ8MQpBNh9Mi538hx/azn1cfr9yVAKE6orSQlSGjkadQNqQpgQRZGterIiIiIi
FkW6qRQSDFHgHgQDAAP70RiCHMDX6CHLR1m+6rHeFBqGp39GVWimMOl9pyhgwmFkxsX7CGPCbUBI
KwpqqNBW/NMQCAQm4CbQ/HrdNoSmQ5VigldLbjbLX2Zbqz62iHcL6V21A+LZVdrIX2ZLK5HSMp7f
qrWdDtUAE+xCsAdiACPr1YS7oU6AdFNlEHyRn2XHqx7/daNheApy35UgoNlXQ2d8tNbPl9WxEJ/R
MNUIm8sx4TUpyyGUBm9p/UZE3DTsTejL2puCUX6WRar/e4h0U+2iwAGAARZ7UlcgVLqpdtHHw/fZ
A6obnhdMYaqGVkoWwNGZx/jbyynAduvLN2lRYChOPLRSKkGAcu+PFoAUEZ6seqIiIq6AAQBVe2dp
oYOIdUE6VAMUeAJi54rnd4gJXqR31F7+TfbFqo/rOpBM/eeBOBFOV5jNiYBqLM3ruCg2hiAhpsqo
SGE8HRJGWNT2CWuSbuHWaNUTFRERETETE5yC2FlSawMIjtM76r0s+VLzeATc1torDvjqn6AAknx5
uS6aSLR+UBP4BOxmT9TEQm2ILxv/wXIIDUvGGMRx66eCFNNPueY3JzN+k6/6oCLeEwhyEO/l0/I6
Ir2rnoAYzvjKCQRfQWOEwu426SNFgiGIXRBp8FeCo/SO+jr/Jhut+hiXidLwvOCAWiuf6KcQWosY
ljMLXny9tF6Jz8w+HQqdKGil3EFZPpuYeaNeIfJRNgbQuq/IJlhV7U3BOH+Zxb1IEdcPIs9fZger
HsZvA+y1vtfycYY+HrXka3IAGYCj9K7aAbAfMEADJPgyHar79p7zXsAbnv4Ew0KECSmu1g61pbZp
SA/JPk+LEQAkZVVRYKKlj/7x+d+XvEuHG3/+digFP3WKBTanY/42DLaaHA6L4vWqJ2nVsMnpIQQP
7MIc2I/GSPAcCU66JiLTv6nS6v/zvyp/lw7VABo7FdonKnTPk8ssfBv33gZw76pjb7Rdp6mWxyUY
AXien2Unncd47scF3MK4eqzpplIQPIDGAIIURA7Ba/Rx3Db2WpuT4NPsYPpchM7JOmHG+ug81536
adKPW/uZtZ7nHkvbuhR8tSC9eb/l/cOuxj8/y47TocpQ4LRhfIgUE+wBaLQ1d+1ewzmbarMcq7nu
OlHDPcEv+T/FAYzF9SKbrtiaK03t6t44OZuyEByeTv7Bxl6XQW/8z7efi9F/K8NqVhTUejr0dGoT
jsvB5DjR2tf1ARJCa4HW5u+J1c/R/miqJbeRFP67gAa1Tr44/w/XS88OUkoFeX6WfbpQO5tqF4ID
sLK4wjhBH49nnfAQBdzRaOf2Yxbr4SJUz3RT7Xs66SwIjtHDYWfjOVRDTPAEzVDmpcac3lXHID6v
/O6RvRGkmODZzH7M2B9PG+V0UykAiyukX2aNXDN9OR2qFAX2Z+YvKnN92fHYOdvH7Pn2/dhjfzV1
o97KX2bZjGOp05xnocO6bKWyC47zs8WjG3bNvQAaYxvnL7NPWuasus78PNvw397MudR42DWMZ431
PoCdDnN3ZOduHPrYezwE74m2qmjW27GhLnpqM/0eG9O0NRqJMOs6sULZptaVsti2wo+G2DCbuJII
RoBUbovmAU0miAJTOxskgMSEBZPEMPDMgVTHLU7IjRRTpI5gDzrFjDDZOqBCwVUdGTLbmEBdhgmT
bqp9AAcz+zEX97P0jhrk32RHc8ae2rEPO42d2MEEO+kdtTNv7Omm2sUERx1aLce8qR7YcMe485yY
m+0p0BJ7r499mA7V1vsUCqnMw9A+hQ/mzEMKM9e3ASwcpfBrcB4q/eQvs8MFj6U8p13XZQGV3lGz
bs4PGu8IcvSw0Ngc8lGWp5vqKZpe1CDdVGqWUa0d6zyj4+ZScJreUVvzjI9dB1+25qKabe+hwLa9
LvLpjz2rLdHJoFFewIl3FhSBy/2U33Gss7c/fdBpMgCAWquyPo9VpLalq6lJq5BQCpDa74kjH3hP
RuhKKJRjgS8YZ9hxzeOx+m/DzithBbBG5xTznuibMEyYu2p7gb5SdLngHQT79jft7ZmLe7jwgc8Z
e7qpdoGORqeO7cY+mnkogvH2NgxtKOS9gj+X873tKg5A7C7UT1ejM9WPfdpf9FjShXpxN+e2NU9s
B969mgpBH0cIy11ud/n5nJzTNAZIZl8bV5q7Ijx33vCQTIVSZ5ZVKM2+7IDXbgNQUIR4jofdWGf9
X71Rou0uXrN3B67OjzE21rAUELOHx/RH/x2hH1fh5HTsmIuKUaLQVUQVbX9DATWIAhTKYKEJvGkY
d3bYeF88k+7QvrLg74ln6VB1O8YiEJ+WmRqvA0xmhFxm37BHdvxZK4OvZex28R61tJv5ORF80dK2
Su+ovU5zQtxuhJXmMw53a+PuY2zH5V6Yam/6c/PSLed0FZhldAxr7tifzzqGXbuY+eBTztFT+8qm
Pu+u1jBpfVof2bYPg30YDEIPLq2G74pswnyUmTxTE591amDa8AvGM69pIp35sNq+DrLa3IWuEZOf
apynktWmmVqVABtmcy8jaeOrf1IEWou9uYPsfqHIRIYu3lXW2qENu9kyCLZPOMUEmEqm5rtlv35z
K1gqHVS8JReNE3oVBEPPNptj065jvmnYMNVe4KOn6OEgP5vKJYSfRgZtycgAlP13BOCxc+XtOHaA
oGH6PNS2fdLaCfQxCu3ETjfVQaD98NgnwTh6jh6Crny6qY6AxgW4nw7V8dyQmNgNgMbQP0UfR+43
9gJ9EmQfFVCAYWHmo2wEYKsyl3V5JWJ0zRIyKr2rukk6BeL89lymje8ag/MoP6uHfOw6PKjlyrqg
aEnMC07Qa4ZHp8K46fwO/LEMGx8Qj0NhY/v9J6jnWYbpXbVTyxdKWJmgazhsJjRG9jqrDW3u7wz5
JfVzqHGYvzTnduY50tgBmgzidFM1HyTNdfEwcJx76e+qPWg8mXpfTYcJvcfjvQ9b1rr6Im2Zaw1B
oY2igCnAJv0FNpYmggd+46jdMCoEWFSIA4XXbhO7obRiqITGEFLgCsYVJjfkvaHCeEjG27FhN7c3
yXpsoruOeAUIeyDH+ctsL3TDzEdZDo2HgZZ2O3k9JpSQo19PyuajzNFxn4Z+E2RkhRa0aztgHFrb
n7rg7FOxarTbYnRs23toPr0OcNFhg195oT3OX2YH1XnPz7IT9LCFUCiEC4dGrxe0N6F5Lwk+zYbW
oZnzwI01H2V5fpbtAN1zG+lQpcEHFcFJfpY9bF3vfWzBPCh1nYdQ6O+wLVeZn2XHEDwOtFNf37rF
MC8DSbCdQYdjTe04jvOzrPZAUTlHWWDcYW9KgtfL4zbjmv86O0JoDUzNXalcYG/65m/LLvM3cNRy
OlZBGqR8d/6wo4zOMw6gRUELXYVS0b70gRlatZpp2Sf8b3zex43FjNUYKADaEAqk9lsABXyo0L63
zoIlqvHOnESlXVzT58FQsLvhcasX0McBQjfZfv2is0ZOBVo4nOlh9ANeGZHWjGY4tNeFhh2aN4Vu
yNrYcLbfZjhljT3pRZAOVZs3MZd5aB8msk4dFS3nohe46Vf7MOupk86dfWgZ1t6U+XucrPGZPlZV
W5eyUO5rMbBTSbN2zL5nhD4bTD+opptKBdZBNpfZGspRST0/VTc8xvgAEEpRpTvD0apFNNwLotF5
U+ktTIYkrfEgUGhjdAprbAo4+jZ9nsb0TRdCK8tuA54R58tt2xIL2nlIBApxvxWbC3K6c0tT4l0m
Wi74bolKCd4Ih5067rXfKOxF3uxfpsYZNnLjeYvUtr81/ZoyVs2nMT0/jm6fysa1NxPc6zQnmOPJ
S+CJW/Bxx7bXGxcBg2Bo3sedfs9gfiIEFfptl/Wev8yyTt5FEQyxdRtf6HtVY3lV4zALVzFqgnzW
HLaGAs8bfarGdzrMnc1RTfdR27dW0qk18oRMWd7U3U263MNjcjrGeECY6O7indR8AF2GwUBBQpu+
0URi8jlkASSAsCCk4gVVjJ+t21PNE7k2DcGAWkwsjjThOW07LKub5l3HfaOYBBebSjfVfA8t/I1O
N9kONOB5n7vY8jRGnfqfHxNvzovgRbqpujRfx3vilczFIpI5/akbeOimt8BDJhLkHenKtwPjHnXu
h8gxn+4+DLy7axmSl0E5NwnGjeO03vqVqfUaaaCMwtXaXBSha1rwJN1UT+b+NnT+TZQkN39aJJRx
U5G6/NfI20jlc4pm9/wOyc98rgXiQmS2Do/b02O8GJZ7cQQVooMLyxlKNHwYTqhtzod+rJWNsKVn
VErx5Dd6ArsifPN+NxC6oRPfL6XtliRuxAxcRTInfMPJF+h7fOlxr7teYXWd95BhEviO8f6zK/Uj
gf1Bi+S11hwlnVpzNJVDcd6Fp1NLYSqD2s9fXfzeB50m4tafvEml4H1LKijbdQn/wnhQVhW7ur+n
GlrzRAe7d4c+bGbzOPDUaZ+XYpmjskoMGmDB5dwQIyIilgt9jXmTJcOGs8aND2RBZt8UgmQag/em
Llnp8UCPqC2tGfA3egGF1Rs6fXir8yRoSe753Iu9+Zc0Z5R5FxMRI0hBYerDAY5UIHASPaYktwn+
0XhQhtbmDA0AX8CuQs+m9Yx6WE/hUYQX8QkYYH51wcYNPj1KILwigVDK8vBbU83yxsHgfozu+auu
HqrgdWDNpAuMdNDhWMaBkNVTXPYe0G/MzReYpu0TO+lQdZaAaqCNYt6foYZ/c2jfPzgP/dJj84ZH
T5LXxhhYhWirHl3bM+OS/Oam3936EttG4saF1My/pDcO9J4LORbif5AYm9xMQmpBQi3QCY3mGkQI
o54NADoxITfTFwij3SZuURd2FBBhocd//acfr8MJbKKHUcN1JwZL2Rdw3WDQyHWKdwf3jNQFOEcI
xPLfiXl5FxG6WRtWUjeZqa608vCa+RyYv+ve7ucZzu2jJd+0xLVzAgTo2mbf2cIPR1aHcCfw0dXU
EC6D0F4iYpx/c/W584an+KmX9TcmsAQCGqpzJafjaMg22d+TD7KLjp2I1qrcg2PzThWpHFjHyrb9
yzf/7qOjG53gNYHVaRqj/iSn0qFK5y26hkotbljluI8RJpge+6BjvHsfaLDkMjg2ncbzaTomTChi
XrsN9eJp9d4bQqi/wYJt3Bw2grmLQWMDZRuMinoXZAhpkhm9waOZvyxaFaHrCOdhPk+H6mDuA1GH
ayp/mWXppsrQDI2p9K56tohQqNdDC8/pzddWCjM3H6CDbFVon1917ko69UMZQyMTl3Px+RZYarIJ
edng14vzf9KNGfbz//J2CCKVyv4av7HTtEWfrwGY9PvZjU/weqEZVps0dgIj8J1T9PGq+pqlqbZs
2It41PhAZsv3BHdGGyXezP9vIxhi2J13fOldtTM9J5gsrAm2rLkZTw/vJs/PguMdIXQuiScd5vwJ
OjIHg3R3wDCnZsgb2T52Oh7LGKE9bnMMl1ViflFbOxstauN9PEJ4Q/FOeld1ug7TTbXbqodmNoMe
dzneZaKFsj5XeiodqrRx3fXrBrVWgRSFfg6IcvppQojLp/j8DAlhd2plgWJoSAW0YTCryWa9KdL+
XVAIefWbf9uNsPDeoo9jTLCL+hPxdnpXPQtJtHup8iZt9OZdcxP/VbV3jFDgi2mVWi9PH5L1kXr8
PR9l43RTnaAukjhAgdP0rnocqitidbSaBrt/KZHRZWA0NTdu/Ie1qpRYkqcqSG1xsW6YrreU4Avo
xpryY56+Edp1+KxFNLMdCQ4DEiuOtvsAia3aafJG96ycUbrgbITW5V66qcYhheuKLM90P1mo8XyU
5envqvBxGK2yV+mmyvyxONZfghRmj9oO2JIXu4LS9VIgeGrlg6rvPUnvKATlhjaVQhGUt6o9UNcM
zwQfHG3oi31PIigLwTkasvl3ctF1gxikSB5okE7mxud0CqOWY0J6jsWmf72yCV4TtMqiG4n27XRT
lU8h5qauggJ+7Laze6ljN2GHE0yr6JYX3wiw4biiVnyrhGAcvND6eIwJVO035gb0ZbqpRiBGNll9
GwmUlYOZbvt4BcbY4TlCRhl4BkF5JZpzu1A9niBc210x8dUwARjpk3RTfY7pXf+uLMFdtQ8ihymK
NwzkWzJgfq7H9vOg5bsK2r7vzmX1nAqyLvmk1nUJHNj84sjWpjGF/ibBDbTjWQbAHscA7UXhymNx
+bN54UjT59YK12z7+RE8Se+qXdAWfyNuW2KIClHxpx9U6h7PQxnjL95m0FSWM1YjFVjGGz/CR9nb
jgPXLJRo8WrTtY2flnXmFLGJ7htS32fkL7ODdFN9huaNagBgu3Ziw4v3cGU12vt4hKJVwHE4Z9yA
xmF+FtB1G2V5elc9BoM30yHEti0tba/6ybGPo4Anu97o42Fr+Me8F9rk6DzWrzqTDMyaWVR2/xBd
RDPrfTTXpTsOIwrbjpZ1WYW9bgF0zD/NwhwtwhtF2/lxcwdsz5y7XlNLMpl+g5RDQOjFOp0qgJXQ
Ec3n40fdyiDcevJGQcvHfgOnKVPgKdRiRT19+QXdy1Y9x2uDPh4Cl6JRdy63ex3IR9nYimiOFvqh
Ubx9NCupbPWzHi68yXANLuJ8lI1BbK39Bsn6mHP0Fh7zCL3FiixW+umWQKcRb12wj8utS9ffPLKD
6+dldnCpNVqFqXx6fy2MDi69Dlw5hoc2Z1hDw/BM/vFGxgLPjXq0U3w2panN5kvJuvZLzaForzJA
RyqQ0oOC/QvQHJ0fXG856ncJ+Sgb5y+zPQgedTzhGUzZ34M1GHuev8zuLzT2Hu7n38xPoHp16C43
KVOD5HBdLuL8m2zkx/6OGCB/05n3EOTmuo9LVWL1ysmCRwBOGvVjzP+foo/73giEJHcm7fN6qXVZ
7a/rsZxlJ/lZ9ukC/ZT9AVv5WbZQtdybgD0/n8LUvJp/TM54BvKv5uMA+r96oxJJTmt6bdYLSjS3
zv/Zh1mXwd76j29OQarS2wGmQndeF06A4x8Pf77W5ahXiXRTKSQYosA9G0sdgxijh6+hMVrnPS02
0a98HNjkBb5HghwJ5tfHaWvX1BdRllhxG8DAtw2coI/Rul3AU+NvKoibfRKjVY+tdbxmvpXfUCr4
HoJRg5ywjP4qlNxpwkWwxhGA/GXWWQC4sS6r19QV1mWjnztqiARDEEMQH9f6Ery285et81ptHNNd
tW2Pp35Nd1wLrSdp41dvT0VrJRTQeyky/ukPf/ZJl4ENnnw3OJ/c+s7s07F7dLQNpDr5G5gqoSgA
If/Rj//+5yerntCIiIj1R3pXPQtQqrNrLq4XsST02z7oTYpHhST/F5qfeH01cNS14fPJrSG0CdHR
lFNAVcjT19exCgmi11S4MyIiYm1Q2T6w0/hwFZssIy6FVsNz/ujD/Gf/7fyXhPynirxNZxo1i2Jb
0CNdcTcn0un02LQnK1jl6eQvP/zXP75OoKELAAQSVym01HMDnBab/Y7zqLwKgmU0iQhIHP5w/Its
1ZMcERExG+kdNYTgiQ3ZvLYlB8b+C7R7XgwzbdBowBBIslUfR0Q39Gd9+NMf3Dr62X89T6mxK4T0
kyT7qWPDCZK/g1Jux1QZZal+bTTWYEsfEAA+FfJTGrYbBV7g09TXMSUQAJqa2UYsVPxn1Kagj+2e
JAXgc1xVnjwiIuL6YWoAKX8Ft5Wnb9/78ngdCCQR3ZDM+8JPf3hrD8RIiPw3/7xjGYQ/fpNSYwhb
ItsaGxtWs7V9TFE4sgCphUZOx7DohKX3YurvUKyAqbgaPOZFuPdLoyM2kSSjH44/Plj1BEdERFwj
DA3/cRt7KmI90e/ypbf/4tb9RRrVhb7XExFfLbQsLucVqW2IzRgLujIGpsKpY9NRW9VqCkmXJ7K/
s2E7Ou/IgxAw76F4uMiYIyIi3jmcoIfH8zZ2RqwfOhmeRZEA28bTsdpuXvtNYEoZiNV/KxWrQQg1
6WrsCCDG0wHIsjhcWTrb1QsyW9WllIPL+9B/d3z8Sb7qyY2IiOiIPnJc4NjX45GgWsII8PTjpdO3
I24OnTnvi+DDX/74CpopMLV3p1ZOm750tTFOAlIbIwRUCAWu8JslX1fLNNQPhQC+7mOyNT7+ZLzq
iY2IiIiICGNujmdR/PyPfhh6gUZdfbly1fReELSjUsPkabTQ/c6F1aSU2vFq2VbroAoC+M/R6ERE
RESsP5YfarvA0ITBjBExXozUPR5bBdsXmTO5IF+FVMqcj2e2mQJ1ni5d9dS+I5LD3xz/zuXKQ0dE
RERE3CiWbnjI5IHxVCjQhkhtCQIoWWnV8BlcuE2sSgJh8ztuw6n9rqlsTVDEkhQEz/soHo2P/0a+
6omMiIiIiOiG5RserYfwMjtmFyeMLA6FENqcTWlQQLEGybDY4IkDvnicD6yJsU6QTGRy+MPxJ9mq
JzAiIiIiYjEsPccj5BflnhxWVQcENaMjzvMRoSu/QHEF6Kr7dcq4Gp8DxdYPx7/YikYnIiIi4t3E
tbDabv2bN6mQD6D1dgJRsOUQ7N4bQ5euhN2cUrU4ZQNWitBBMkA/70MfReJARERExLuPazE8VQz2
vhucoz/sA0ozuSeaA2qkQqYlsQAAkQtlLJSRLoqvE0jeQ5FFYxMRERHxfuH/A8STIFAknMZaAAAA
JXRFWHRkYXRlOmNyZWF0ZQAyMDI2LTAxLTAxVDA5OjQ3OjIzKzAwOjAwobpSSAAAACV0RVh0ZGF0
ZTptb2RpZnkAMjAyNi0wMS0wMVQwOTo0NzoyMyswMDowMNDn6vQAAAAodEVYdGRhdGU6dGltZXN0
YW1wADIwMjYtMDEtMDFUMDk6NDc6MjQrMDA6MDBCVfWlAAAAAElFTkSuQmCC" />
</svg>
               </a>
            </div>
            
            <!-- 技术栈信息 -->
            <div class="mt-2 pt-2 border-t border-black/10 dark:border-white/10 
                        flex flex-wrap justify-center items-center gap-2 text-xs text-black/50 dark:text-white/50">
                <span>Powered by</span>
                    <a class="text-orange-600 dark:text-orange-400 hover:underline font-medium" target="_blank" href="https://astro.build">Astro</a>
                <span>&</span>
                    <a class="text-blue-600 dark:text-blue-400 hover:underline font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
                <span>|</span>
                    <a class="hover:underline font-medium" target="_blank" href="https://icp.gov.moe/?keyword=20255517">萌ICP备20255517号</a>
            </div>
        </div>
    </div>
</footer>
